body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 24px;
    padding: 5px 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: #333;
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

.hidden {
    display: none;
}

.fullscreen-video {
    position: absolute;
    width: 20%;
    height: 20%;
    object-fit: cover;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    animation: popup 0.5s linear forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}